<div>您可以將 email 寄到以下相關單位</div>

<table>
  <tr>
    <th></th>
    <th>地區</th>
    <th>場站</th>
    <th>email</th>
    <th>地址</th>
  </tr>
  <tr>
    <td>茶樹</td>
    <td>北部</td>
    <td>茶業改良場文山分場</td>
    <td></td>
    <td>223 新北市石碇區格頭村北宜路五段 12 號</td>
  </tr>
  <tr>
    <td></td>
    <td>中部</td>
    <td>茶業改良場魚池分場</td>
    <td></td>
    <td>555 南投縣魚池鄉水社村中山路 270 巷 13 號</td>
  </tr>
  <tr>
    <td></td>
    <td>東部</td>
    <td>茶業改良場臺東分場</td>
    <td></td>
    <td>955 臺東縣鹿野鄉龍田村北二路 66 號</td>
  </tr>
  <tr>
    <td></td>
    <td>其他</td>
    <td>茶業改良場桃園本場</td>
    <td></td>
    <td>326 桃園市楊梅區埔心中興路 324 號</td>
  </tr>
  <tr>
    <td>香蕉</td>
    <td>全區</td>
    <td>財團法人臺灣香蕉研究所</td>
    <td></td>
    <td>904 屏東縣九如鄉玉泉村榮泉街 1 號</td>
  </tr>
  <tr>
    <td>其他</td>
    <td>台北, 新北, 基隆</td>
    <td>國立臺灣大學植物病理與微生物學系</td>
    <td></td>
    <td>106 台北市大安區舟山路 86 號中非大樓 401 室</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>國立臺灣大學昆蟲學系</td>
    <td></td>
    <td>106 台北市大安區舟山路 86 號</td>
  </tr>
  <tr>
    <td></td>
    <td>桃園, 新竹</td>
    <td>桃園區農業改良場作物環境課</td>
    <td></td>
    <td>32709 桃園市新屋區後庄里東福路 2 段 139 號</td>
  </tr>
  <tr>
    <td></td>
    <td>苗栗</td>
    <td>苗栗區農業改良場作物環境課</td>
    <td></td>
    <td>36346 苗栗縣公館鄉館南村 261 號</td>
  </tr>
  <tr>
    <td></td>
    <td>台中</td>
    <td>國立中興大學植物病理學系</td>
    <td></td>
    <td>402 台中市南區興大路 145 號農環大樓</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>國立中興大學昆蟲學系</td>
    <td></td>
    <td>402 台中市南區興大路 145 號農環大樓</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>農業試驗所植物病理組</td>
    <td></td>
    <td>41362 台中市霧峰區萬豐里中正路 189 號</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>農業試驗所應用動物組</td>
    <td></td>
    <td>41362 台中市霧峰區萬豐里中正路 189 號</td>
  </tr>
  <tr>
    <td></td>
    <td>彰化, 南投</td>
    <td>臺中區農業改良場作物環境課</td>
    <td></td>
    <td>515 彰化縣大村鄉田洋村松槐路 370 號</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>種苗改良繁殖場</td>
    <td></td>
    <td>426 台中市新社區大南里興中街 6 號</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>農業藥物毒物試驗所</td>
    <td></td>
    <td>41358 臺中市霧峰區舊正里光明路 11 號</td>
  </tr>
  <tr>
    <td></td>
    <td>雲林, 台南</td>
    <td>臺南區農業改良場作物環境課</td>
    <td></td>
    <td>712 台南市新化區牧場 70 號</td>
  </tr>
  <tr>
    <td></td>
    <td>嘉義</td>
    <td>農業試驗所嘉義分所植物保護系</td>
    <td></td>
    <td>600 嘉義市東區民權路 2 號</td>
  </tr>
  <tr>
    <td></td>
    <td>嘉義</td>
    <td>國立嘉義大學植物醫學系</td>
    <td></td>
    <td>600 嘉義市學府路 300 號</td>
  </tr>
  <tr>
    <td></td>
    <td>高雄, 屏東</td>
    <td>高雄區農業改良場作物環境課</td>
    <td></td>
    <td>90846 屏東縣長治鄉德和村德和路 2-6 號</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>農業試驗所鳳山分所植物保護系</td>
    <td></td>
    <td>83052 高雄市鳳山區文龍東路 530 號</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>國立屏東科技大學植物醫學系</td>
    <td></td>
    <td>91201 屏東縣內埔鄉老埤村學府路 1 號</td>
  </tr>
  <tr>
    <td></td>
    <td>宜蘭, 花蓮</td>
    <td>花蓮區農業改良場作物環境課</td>
    <td></td>
    <td>97365 花蓮縣吉安鄉吉安村吉安路二段 150 號</td>
  </tr>
  <tr>
    <td></td>
    <td>台東</td>
    <td>臺東區農業改良場作物環境課</td>
    <td></td>
    <td>950 台東縣台東市中華路一段 675 號</td>
  </tr>
  <tr>
    <td></td>
    <td>金門</td>
    <td>金門縣動植物防疫所</td>
    <td></td>
    <td>891 金門縣金湖鎮裕民農莊 20 號</td>
  </tr>
  <tr>
    <td></td>
    <td>連江</td>
    <td>連江縣政府</td>
    <td></td>
    <td>209 連江縣南竿鄉清水村 101 號</td>
  </tr>
  <tr>
    <td></td>
    <td>澎湖</td>
    <td>高雄區農業改良場作物環境課</td>
    <td></td>
    <td>90846 屏東縣長治鄉德和村德和路 2-6 號</td>
  </tr>
</table>
