<div>您可以將 email 寄到以下相關單位</div>

<table>
  <tr>
    <th></th>
    <th>地區</th>
    <th>場站</th>
    <th>email</th>
    <th>地址</th>
  </tr>
  <tr>
    <td>茶樹</td>
    <td>北部</td>
    <td>茶業改良場文山分場</td>
    <td></td>
    <td>223 新北市石碇區格頭村北宜路五段 12 號</td>
  </tr>
  <tr>
    <td></td>
    <td>中部</td>
    <td>茶業改良場魚池分場</td>
    <td></td>
    <td>555 南投縣魚池鄉水社村中山路 270 巷 13 號</td>
  </tr>
  <tr>
    <td></td>
    <td>東部</td>
    <td>茶業改良場臺東分場</td>
    <td></td>
    <td>955 臺東縣鹿野鄉龍田村北二路 66 號</td>
  </tr>
  <tr>
    <td></td>
    <td>其他</td>
    <td>茶業改良場桃園本場</td>
    <td></td>
    <td>326 桃園市楊梅區埔心中興路 324 號</td>
  </tr>
  <tr>
    <td>香蕉</td>
    <td>全區</td>
    <td>財團法人臺灣香蕉研究所</td>
    <td></td>
    <td>904 屏東縣九如鄉玉泉村榮泉街 1 號</td>
  </tr>
  <tr>
    <td>其他</td>
    <td>台北, 新北, 基隆</td>
    <td>國立臺灣大學植物病理與微生物學系</td>
    <td></td>
    <td>106 台北市大安區舟山路 86 號中非大樓 401 室</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>國立臺灣大學昆蟲學系</td>
    <td></td>
    <td>106 台北市大安區舟山路 86 號</td>
  </tr>
  <tr>
    <td></td>
    <td>桃園, 新竹</td>
    <td>桃園區農業改良場作物環境課</td>
    <td></td>
    <td>32709 桃園市新屋區後庄里東福路 2 段 139 號</td>
  </tr>
  <tr>
    <td></td>
    <td>苗栗</td>
    <td>苗栗區農業改良場作物環境課</td>
    <td></td>
    <td>36346 苗栗縣公館鄉館南村 261 號</td>
  </tr>
</table>
